<!-- <"Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]} -->



<p>Your word: <%= @query %></p>
<p>The time taken to find your word was <%= @total_time %> seconds.</p>
<p>Your score is: <%= @score %></p>